<footer class="container">
    <hr class="soften">
    <p>
        {{- partial "copyright.html" . -}}
    </p>
    <p class="text-center">
        <a href="https://metalhead.club/@nyanhp">Mastodon</a>
        <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/1B65D90FDB7A578E7D81CB14FE998908CF4006EA">GPG Key</a>
        {{ with .Site.Params.linkedin }}<a href="{{ . }}">Linkedin</a> {{ end }}
        {{ with .Site.Params.github }}<a href="{{ . }}">GitHub</a> {{ end }}
        {{ with .Site.Params.gitlab }}<a href="{{ . }}">GitLab</a>{{ end }}
    </p>
</footer>

